 {% extends 'base_venue.html' %}
 {% load static %}
 {% block content %}

 
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>


        <div id="ouws_wspage" class="ouws_wspage ohio-two-column-left-main">



            <div class="ouws_content slim white" id="ouws_content">


                <div class="mainBody" id="main-body">
                   

                    <div class="middle container" id="middle" role="region" aria-label="Page content region">
                        <div class="content row">
                            <div id="middle-top" class="middle-center col-xl-12">
                                <div class="region region-top-content">
                                    <div id="block-pagetitle" class="block block-core block-page-title-block">
                                         <br>
                                        <br>
                                        <br>
                                        


                                        <h1 class="flex" aria-flowto="middle-center"><span
                                                class="page-title"><span property="schema:name"
                                                    class="field field--name-title field--type-string field--label-hidden ">Aderemi Makanjuola Lecture Theatre</span>
                                            </span></h1>

                                                    <hr>
                                    </div>

                                </div>

                            </div>

                            <section class="middle-left col-3 d-none d-lg-block">




                            </section>

                            <main id="middle-center" class="middle-center col-lg-9 col-md-12">
                                <div class="region region-content">
                                    <div data-drupal-messages-fallback class="hidden"></div>
                                    <div id="block-ohio-theme-content"
                                        class="block block-system block-system-main-block">



                                        <section about="/student-affairs/event-services/venues/walter-hall-rotunda"
                                            typeof="schema:WebPage" class="node node--type-page node--view-mode-full">


                                            <span property="schema:name" content="Walter Hall Rotunda"
                                                class="rdf-meta hidden"></span>



                                            <div class="node__content">

                                                <div property="schema:text"
                                                    class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                                    <p>Aderemi Makanjuola Lecture Theatre, the building is designed to support a wide array of academic and non-academic
                                                        functions, including receptions, conferences, and other special events.</p>

                                                    <p>The building was made possible by a gift from Aderemi Makanjuola
                                                        in the year 2018.</p>

                                                    <p>Aderemi Makanjuola Lecture Theatre allows for a 500 person Theatre Style Setup with Car Parking Space for Guests.</p>

                                                    <p>Lagos State University Event Services coordinates events in Aderemi Makanjuola Lecture Theatre. If you would like to reserve a space, contact LASU Event Services for
                                                        Reservations.<br><i class="fa fa-envelope"></i> olaneye_ahmed_@180591038.com 
                                                        <br>
                                                         <i class="fa fa-phone"></i>+234 9038 967 463</p>
                                                    
                                                        

                                                        <br>
                                                        <br>
                                                        
                                                    <div data-embed-button="media_entity_embed"
                                                        data-entity-embed-display="entity_reference:media_thumbnail"
                                                        data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;link_url&quot;:&quot;&quot;}"
                                                        data-entity-type="media"
                                                        data-entity-uuid="8719f10a-2113-431d-bd19-79b474b39794"
                                                        data-langcode="en" class="embedded-entity"> <img src="{%static "twitter/4.jpg" %}"
                                                            width="600" height="250" alt="" loading="lazy"
                                                            typeof="foaf:Image" /></div>
                                                            <br>
                                                            <p>Theatre Setup</p>
                                                    <div data-embed-button="media_entity_embed"
                                                        data-entity-embed-display="entity_reference:media_thumbnail"
                                                        data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;link_url&quot;:&quot;&quot;}"
                                                        data-entity-type="media"
                                                        data-entity-uuid="f9cdfdd7-b0b5-4de4-90f7-4874e1735044"
                                                        data-langcode="en" class="embedded-entity"> <img src="{%static "img/theatre.jpeg" %}"
                                                            width="600" height="250" alt="Theatre Setup"
                                                            title="" loading="lazy"
                                                            typeof="foaf:Image" /></div>
                                                                    <br>
                                                    <div data-embed-button="media_entity_embed"
                                                        data-entity-embed-display="entity_reference:media_thumbnail"
                                                        data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;link_url&quot;:&quot;&quot;}"
                                                        data-entity-type="media"
                                                        data-entity-uuid="1c933c60-ada1-4ced-90ae-f6c1891f56b8"
                                                        data-langcode="en" class="embedded-entity"> <img src="{%static "twitter/8.jpg" %}"
                                                            width="600" height="250" alt=""
                                                            title="" loading="lazy"
                                                            typeof="foaf:Image" /></div>
                                                    
                                                        <br>
                                                    {% comment %} <div data-embed-button="media_entity_embed"
                                                        data-entity-embed-display="entity_reference:media_thumbnail"
                                                        data-entity-embed-display-settings="{&quot;image_style&quot;:&quot;&quot;,&quot;image_link&quot;:&quot;&quot;,&quot;link_url&quot;:&quot;&quot;}"
                                                        data-entity-type="media"
                                                        data-entity-uuid="b62856fa-57cc-4695-843f-e64b3a331381"
                                                        data-langcode="en" class="embedded-entity"> <img src="{%static "twitter/19.jpg" %}"
                                                            width="600" height="250" alt=""
                                                            title="" loading="lazy"
                                                            typeof="foaf:Image" /></div> {% endcomment %}
                                                    <h5> </h5>
                                                </div>

                                            </div>

                                        </section>

                                    </div>

                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="more_place_btn text-center">
                                            <a class="boxed-btn4 hoo" href="{% url 'contact' %}">Book Makanjuola Hall</a>
                                        </div>
                                    </div>
                                </div>

                            </main>

                            <div id="middle-bottom" class="middle-center col-xl-12">

                            </div>
                        </div>
                    </div>

                

                </div>
            </div>

        </div>

    </div>


 {% endblock %}