 {% extends 'base_reservation.html' %}
 {% load static %}
 {% block content %}



  <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <!-- <h2 class="heading-section">Make Reservations</h2> -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="wrapper">
                        <div class="row no-gutters">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-lg-5 p-4 img">
                        <h3>Request a Space Today!</h3>
                            <p>The Lagos State University offers students, university users and external clients the
                                opportunity to book a variety of spaces for meetings, events
                                and more.</p>
                            
                            <p>Our professional event services team will work with you every step of the
                                way to ensure your event is a success. Please contact Event Reservations team by
                                phone at +234 9038 967 463 if you have any questions about space
                                requests or event planning.</p>
                  
        
                            </div>
                        </div>
  
                            <div class="col-md-6">
                                <div class="contact-wrap w-100 p-lg-5 p-4">
                                    <h3 class="mb-4">Send us a Message</h3>
                                    
                                    <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="name" id="name"
                                                        placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="Email">
                                                </div>
                                            </div>
{% comment %}                                             
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                        placeholder="Subject">
                                                </div>
                                            </div> {% endcomment %}

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea name="message" class="form-control" id="message" cols="30"
                                                        rows="3" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Mail Us" class="send btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>




 {% endblock %}