{% extends 'base.html' %}
{% load static %}
{% block content %}

                <div class="container">
                    <a id="main-content" tabindex="-1"></a>
                    <div class="layout-content">
                        <div class="region--content">
                            <div data-drupal-messages-fallback class="hidden"></div>
                            <div class="block">
                                <div class="t-content-page">
                                    <div class="m-page-introduction d-flex align-items-center standard">
                                        Please fill out the form to request for space at Lagos State University Event Services.
                                    </div>
                                    <div class="a-field-content">
                                        <div class="c-floor c-floor-form c-floor--horizontal-narrow c-floor--vertical-regular">
                                            <div class="c-floor--container  ">
                                                <div class="c-floor--content">
                                                    <div class="field field--name-form field--type-webform field__item">

                                                                {% comment %} <nav aria-label="breadcrumb">
                                                                    <ol class="breadcrumb">
                                                                        <li class="breadcrumb-item"> <a href="">Contact Information</a> </li>
                                                                        <li class="breadcrumb-item active" aria-current="page">Event Information</li>
                                                                    </ol>
                                                                </nav> {% endcomment %}

                                                        <form action= "{% url 'contact' %}" method="post">
                                                                  {% include 'partials/_messages.html' %}
                                                                         {% csrf_token %}
                                                                
                                                                   <div class="form-group">
                                                                        <label for=""><b>Last Name</b></label>
                                                                        <input type="text" class="form-control form-control-sm" name="last_name" value="{{values.last_name}}"/>
                                                                    </div>
                                                                
                                                                    <br>
                                                                    
                                                                   <div class="form-group">
                                                                        <label for=""><b>First Name</b></label>
                                                                        <input type="text" class="form-control form-control-sm" name="first_name" value="{{values.first_name}}" />
                                                                    </div>
                                                                
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Email</b></label>
                                                                        <input type="email" class="form-control form-control-sm" name="email" value="{{values.email}}" />
                                                                    </div>
                                                                    <br>
                                                                
                                                                    <div class="form-group">
                                                                        <label for=""><b>Mobile Number</b></label>
                                                                        <input type="tel" class="form-control form-control-sm" name="mobile_number" value="{{values.mobile_number}}"/>
                                                                    </div>
                                                                
                                                                    <br>
                                                                
                                                                    <div class="form-group">
                                                                        <label for=""><b>Contact Address</b></label>
                                                                        <input type="text" class="form-control form-control-sm" name="contact_address" value="{{values.contact_address}}"/>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <label for=""><b>Event Title</b></label>
                                                                        <input type="text" class="form-control form-control-sm" name="event_title" value="{{values.event_title}}" />
                                                                    </div>
                                                                    <br>
                                                            
                                                                    <div class="form-group">
                                                                        <label for=""><b>Event Category</b></label>
                                                                        <select class = "form-control" name = "category">
                                                                            {% comment %} <option value="default"></option> {% endcomment %}
                                                                            {% for category in categories %}
                                                                            <option name = "category" value = "{{category.name}}"> {{category.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>                                   
                                                                    <br>
                                                            
                                                                    <div class="form-group">
                                                                        <label for=""><b>Event Start Date</b></label>
                                                                        <input type="date" class="form-control form-control-sm" name="start_date" value="{{values.start_date}}" />
                                                                    </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Event End Date</b></label>
                                                                        <input type="date" class="form-control form-control-sm" name="end_date" value="{{values.end_date}}" />
                                                                    </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Total Number of Guest</b></label>
                                                                        <input type="text" class="form-control form-control-sm" name="guest" value="{{values.guest}}" />
                                                                    </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Time Frame of Event</b></label>
                                                                        <input type="time" class="form-control form-control-sm" name="time" value="{{values.time}}" />
                                                                    </div>
                                                                    <br>
                                                                    
                                                                    <div class="form-group">
                                                                        <label for=""><b>Venue / Room Setup</b></label>
                                                                         <select class = "form-control" name = "room">
                                                                             {% comment %} <option value="default"></option> {% endcomment %}
                                                                            {% for room in rooms %}
                                                                            <option name = "room" value = "{{room.name}}"> {{room.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                       </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Are breakout rooms Required?</b></label>
                                                                         <select class = "form-control" name = "breakout">
                                                                             {% comment %} <option value="default"></option> {% endcomment %}
                                                                            {% for breakout in breakouts %}
                                                                            <option name = "breakout" value = "{{breakout.name}}"> {{breakout.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                       </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Is Catering Service Required?</b></label>
                                                                         <select class = "form-control" name = "catering">
                                                                             {% comment %} <option value="default"></option> {% endcomment %}
                                                                            {% for catering in caterings %}
                                                                            <option name = "catering" value = "{{catering.name}}"> {{catering.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                       </div>
                                                                    <br>

                                                                    <div class="form-group">
                                                                        <label for=""><b>Do you have Preferred Venue?</b></label>
                                                                         <select class = "form-control" name = "venue">
                                                                             {% comment %} <option value="default"></option> {% endcomment %}
                                                                            {% for venue in venues %}
                                                                            <option name = "venue" value = "{{venue.name}}"> {{venue.name}}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                       </div>

                                                                    <br>
                                                                    <input type="submit" value="Submit Request" class="btn btn-primary btn-primary-sm" />

                                                        </form>
                                                                </div>          
                                                                    </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
{%endblock%}