 {% extends 'base_auth.html' %}
<!--This loads the linked file sources in base_auth.html to have effect on this page here..... -->

 {% load static %}
 {% block content %}


<div class="center">
        <h1>Sign In</h1>
        <form action = 'login' method = 'post'>
   
                {% csrf_token %}
            <!--This allows to save data into the database-->

                {% include 'partials/_messages.html' %}

            <!--This allows to display the messages in my views and also attach color based on the bootstrap i loctaed in the file-->
             <div class="txt_field">
                <input type="email" 
                  name = 'username'
                id = 'usernamefield'
                required>
                <span></span>
                <label>Email</label>
            </div>


            {% comment %} <div class="txt_field">
                <input type="text" 
                  name = 'username'
                id = 'usernamefield'
                required>
                <span></span>
                <label>Username</label>
            </div> {% endcomment %}


            <div class="txt_field">
                <input type="password"
                  name = 'password'
                id = 'passwordfield'
                 required>
                <span></span>
                <label>Password</label>
            </div>
            <!-- <div class="pass">Forgot Password?</div> -->
            <input type="submit" value="Login">
            <div class="sign_link">New member?
                <a href="{%url 'register'%}">Sign Up</a>
            </div>
        </form>
    </div>

    {% endblock %}






