{%load static%}
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LASU Event Services
            {% block title %}
            
            {% endblock  %}
        </title>
        <meta name="description" content="Olaneye Ahmed">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static "twitter/logo3.jpg" %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->        

        <link rel="stylesheet" href="{%static "css/login.css" %}">
        <link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">

   
    </head>
   <body>
    
    {% block content %}
    
    
    
    {% endblock %}


   </body>
</html>