{%load static%}
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LASU Event Services
            {% block title %}
            
            {% endblock  %}
        </title>
        <meta name="description" content="Olaneye Ahmed">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="{%static "twitter/logo3.jpg" %}">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->        
        <link href="{%static "css/reservation 1.css" %}" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{%static "css/reservation 2.css" %}">
        <link rel="stylesheet" href="{%static "css/reservation 3.css" %}">
        <link rel="stylesheet" href="{%static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{%static "css/themify-icons.css" %}">
        {% comment %} <link rel="stylesheet" href="{%static "css/login.css" %}"> {% endcomment %}
   
    </head>
   <body>

    {% block content %}
    
    
    
    {% endblock %}


   </body>
</html>